!DOCTYPE html>
<html lang="lv-LV">

<head>
    <title>Start(it)</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../css/custom.css" media="screen" title="no title" charset="utf-8">
    <link rel="icon" href="images\Start(IT)SmallLogo.png">

</head><

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="../images/Start(IT)Logo.png" alt="Start(IT)"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li ><a href="../index.html">Sākums<span class="sr-only">(current)</span></a></li>
                    <li class="dropdown active">
                        <a class="dropdown-toggle " data-toggle="dropdown" href="#">Pirmā diena
                            <span class="caret"></span></a>
                        <ul class ="dropdown-menu ">
                                <li><a href="#">Ievads</a></li>
                            <li><a href="../views/Git.html">GIT</a></li>
                            <li><a href="../views/VSCode.html">VSCode</a></li>
                            <li><a href="../views/AgileScrum.html">Agile/Scrum</a></li>
                            <li><a href="../views/HtmlTags.html">HTML tags</a></li>
                            <li><a href="../views/CssSelektori.html">CSS Selektori</a></li>
                        </ul>
                    </li>
                    <li><a href="../views/PlainJavaScript.html">Plain JavaScript</a></li>
                    <li><a href="../views/JavaScriptDom.html">JavaScript + DOM</a></li>
                    <li><a href="../views/MacibuMetodologija.html">Mācību Metodoloģija</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div id="wrap">
        <div id="main">
            <div class="container theme-showcase lead text-left" role="main">
                <h1 class="cover-heading text-left"> Šī ir lapa par tagiem.</h1>
               <p> Es zinu paragrāfa tagu. </p>
               <p> <h1> HTML elementi </h1> </p>
      
               <ul>
                    <li>Konteiners "< div >"</li>
                    <li>Virsraksts "< h1 > ...< /h1 > , < h2 > ...< /h2 >"</li>
                    <li>Rindkopa "< p >" </li>
                    <li>Atribūts "< a >" </li>
               </ul>

               <p>Tagad apskatīsim elementus</p>
               <ol>
                   <li> Numurēts sarakst "< ul >"</li>
                   <li> Saraksta elements "< li >" </li>
                   <li> Numurēts saraksts "< ol >" </li>
                   <li> Attēls " img ></li>
                   <img src="../images/Start(IT)Logo.png" alt="Start(IT)" width="104">
                   <li> Poga " button "</li>
                   <button>Piespied</button>
                   <li><b> Treknraksts  </b> "< b >" </li>
               </ol>


               <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ipsum sem, maximus eu consequat vel, cursus vel nisl. Nunc euismod, felis at auctor consequat, felis eros bibendum lectus, in tempus nulla massa vitae dui. Praesent cursus posuere cursus. Cras laoreet non nulla in consectetur. Donec eros libero, volutpat in dictum ut, faucibus ut sapien. Phasellus volutpat libero scelerisque turpis consequat, at eleifend risus congue. Vestibulum ac hendrerit lacus, ac sollicitudin erat. </p>
               <p> Praesent lacus quam, porttitor sed pretium vel, rutrum at odio. Phasellus eu lorem turpis. Fusce lobortis augue magna, id commodo dui sagittis sed. Aenean ultrices egestas rutrum. Morbi aliquam eu ante eu vulputate. Donec gravida accumsan ligula, at sollicitudin odio porttitor nec. Nulla porttitor ligula eros, nec accumsan sapien vehicula eu. Quisque laoreet tortor a leo facilisis, nec ultricies nulla interdum. Sed ex nisl, tincidunt eu tortor malesuada, tristique accumsan ante. </p>
               <p> Ut eu tristique neque. Integer non nisl luctus nisl mollis pellentesque eu nec nisi. Fusce hendrerit, mi non vulputate porta, justo augue congue magna, vitae malesuada mauris arcu maximus augue. Fusce id dignissim ligula. Proin dictum lorem sit amet sem pharetra, ac ullamcorper urna viverra. Donec nunc quam, rutrum eget scelerisque sit amet, bibendum sed sapien. Nullam sed fermentum dui. Donec vitae dolor fringilla, tempor lacus porta, dignissim ligula. Nulla facilisi. Curabitur tempus consectetur urna, scelerisque venenatis lacus placerat quis. Phasellus interdum aliquet ligula, elementum malesuada risus sagittis id. Suspendisse potenti. Sed bibendum id sem eget lacinia. Maecenas hendrerit ante eu lacus vulputate porta. </p>
               <p> Quisque facilisis odio orci, et sollicitudin libero sollicitudin eu. Nam a massa euismod, placerat velit eget, dapibus purus. Maecenas vel nibh ut arcu accumsan fermentum. Nulla facilisi. Aliquam a justo a enim iaculis tincidunt vel vitae metus. Donec diam libero, porta nec urna vitae, congue facilisis dui. Praesent varius dolor dolor, quis vulputate diam pretium quis. Phasellus feugiat interdum enim, sit amet ullamcorper quam.</p>
               <p> Proin non convallis diam, at posuere metus. Maecenas volutpat mauris ac arcu euismod, a scelerisque nibh tristique. Cras molestie bibendum arcu eu pulvinar. Integer porta enim vel risus tincidunt iaculis. Vivamus imperdiet varius elementum. Fusce ultricies lorem et ante fringilla imperdiet. Mauris maximus neque vitae finibus malesuada. Duis in tristique ante, eget vulputate nulla. Vestibulum quis felis sollicitudin, hendrerit odio et, sodales odio. Suspendisse sit amet suscipit erat. </p>
<p>Šiedien iemācījos strādāt ar HTML elementiem, <br> vairāk info
    <a href="https://www.w3schools.com/html/default.asp">w3 schools </a> mājas lapā
</p>

               </p>
            </div>
        </div>
    </div>
</body>

<footer class="mastfoot mt-auto container-fluid text-center bg-lightgray">
    <div class="copyrights">
        <p>Start(IT) © 2019
            <br>
            <span>Izstrādātājs: Komanda xxx</span>
            <br>
            <span>Īpašnieks: Start(IT)</span>
            <br>
            <span>VEF Kultūras pils</span>
        </p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="javaScript/bootstrap.min.js"></script>
<script type="text/javascript" src="javaScript/custom.js"></script>

</html>